/* infodex.css */

#infodex {
	position: absolute;
	z-index: 20000; /* float OVER pokemon */
	top: 120px; left: 20px;
}

#infodex section {
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px 0px -1px 0px;
	line-height: 14px;
}

#infodex .topbar {
	position: absolute;
	width: 192px; height: 32px;
	background-image: url("../img/ui/infodex.png");
	top: -3px; left: -3px;
	z-index: 10;
}

#infodex .topbar .gem {
	position: absolute;
	width: 32px; height: 32px;
	background-image: url("../img/ui/infodex.png");
	background-position: -160px -32px;
	top: 0px; left: 0px;
}
#infodex .topbar .gem.purple { background-position: -32px -32px; }
#infodex .topbar .gem.blue   { background-position: -32px -64px; }
#infodex .topbar .gem.green  { background-position: -32px -96px; }
#infodex .topbar .gem.yellow { background-position: -32px -128px; }
#infodex .topbar .gem.red    { background-position: -64px -32px; }
#infodex .topbar .gem.cyan   { background-position: -96px -32px; }
#infodex .topbar .gem.white  { background-position: -128px -32px; }

#infodex .side-pivot {
	position: absolute;
	top: 13px; left: 13px;
	z-index: 8;
}

#infodex .sidedrop {
	position: absolute;
	width: 32px; height: 128px;
	background-image: url("../img/ui/infodex.png");
	background-position: 0px -32px;
	top: -3px; left: -3px;
	z-index: 8;
	
	transform-origin: 16px 16px;
	-ms-transform-origin: 16px 16px;
	-webkit-transform-origin: 16px 16px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

#infodex .page-title {
	position: absolute;
	left: 178px; top: 8px;
	width: 125px;
	border-bottom: 1px #666 solid;
	z-index: 2;
	text-align: center;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*#infodex .holo {
	position: absolute;
	width: 136px; height: 96px;
	background-image: url("../img/ui/infodex.png");
	background-position: -32px -64px;
	bottom: -96px; right: -8px;
	z-index: 6;
}*/

#infodex .holo {
	position: absolute;
	width: 128px; height: 96px;
	background-image: url("../img/ui/infodex.png");
	background-position: -64px -64px;
	/*bottom: -108px; right: -8px;*/
	bottom: 0px; left: 48px;
	z-index: 6;
	pointer-events: none;
}

#infodex .holo .sprite {
	position: absolute;
	width: 128px; height: 132px;
	bottom: 8px; left: 0;
	overflow: hidden;
	pointer-events: none;
}

#infodex .holo .sprite img {
	position: absolute;
	bottom: 1px;
	pointer-events: none;
}

#infodex .sheet:before {
	content: "";
	float: left;
	width: 24px; height: 80px;
}

#infodex .sheet {
	position: absolute;
	width: 300px;
	background-color: rgba(162, 228, 255, 0.95);
	border: 1px #007caf solid;
	padding: 32px 6px 6px 6px;
	
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px 0px;
	line-height: 14px;
}

#infodex .sheet p {
	margin: 0 0 0.6em 0;
}


#infodex .tabs {
	position: absolute;
	left: 310px; bottom: -6px;
	width: 230px;
	
	transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-webkit-transform-origin: 0 100%;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	/*pointer-events: none;*/
	z-index: -2;
}
#infodex .tabs div {
	display: inline-block;
	background-color: rgba(162, 228, 255, 0.95);
	border: 1px #007caf solid;
	border-radius: 10px 10px 0px 0px;
	padding: 5px 7px 2px;
	
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px 0px;
	line-height: 14px;
	cursor: pointer;
}
#infodex .tabs div.selected {
	background-color: rgba(249, 253, 255, 0.95);
	border-bottom: none;
}

/* ---------------------------------------------------------------- */

.info-sheet section {
	padding: 3px 6px;
	border: 1px #2ac1ff solid;
	border-radius: 3px;
	background-color: rgb(228, 244, 251);
	overflow: hidden;
}
.info-sheet section:before {
	content: " ";
	background-color: rgb(162, 228, 255);
	padding: 0px 6px;
	margin-left: -8px;
	margin-right: 6px;
	border: 1px #2ac1ff solid;
	display: inline-block;
	margin-top: -1px;
}
.info-sheet section.half {
	float: right;
	margin-left: -1px !important;
}
.info-sheet .spacer {
	height: 0.6em;
}

.pokeinfo .common-name {}
.pokeinfo .common-name:before {
	content: "Nickname";
}
.pokeinfo .game-name:before {
	content: "Name";
}
.pokeinfo .spec-name:before {
	content: "Species";
}

.pokeinfo .gender {
	float: right;
	width: 10px;
	padding-bottom: 4px;
	text-align: center;
}
.pokeinfo .gender:before {
	content: none;
}
.pokeinfo .gender:after {
	content: "\00a0";
	/*color: #40c8f8;*/
}
.pokeinfo .gender.male:after {
	content: "\2642";
	/*color: #40c8f8;*/
}
.pokeinfo .gender.female:after {
	content: "\2640";
	/*color: #f89890;*/
}


.pokeinfo .level:before {
	content: "Level";
}
.pokeinfo .level {
	float: right;
	width: 60px;
}

.pokeinfo .ballwrap {
	float: right;
	padding: 2px 4px 3px;
}
.pokeinfo .ballwrap:before {
	content: none;
}
.pokeinfo .ball {
	width: 16px; height: 16px;
	background-image: url("../img/ui/infodex_assets.png");
	background-position: -70px -200px; /* Default: Pokeball */
}
.pokeinfo .ball.poke 		{ background-position: -134px -00px; }
.pokeinfo .ball.great		{ background-position: -134px -16px; }
.pokeinfo .ball.ultra 		{ background-position: -134px -32px; }
.pokeinfo .ball.master		{ background-position: -134px -48px; }
.pokeinfo .ball.premiere	{ background-position: -134px -64px; }
.pokeinfo .ball.cherish		{ background-position: -134px -80px; }
.pokeinfo .ball.luxury		{ background-position: -134px -96px; }
.pokeinfo .ball.nest 		{ background-position: -134px -112px; }
.pokeinfo .ball.net 		{ background-position: -134px -128px; }
.pokeinfo .ball.dive		{ background-position: -134px -144px; }
.pokeinfo .ball.repeat		{ background-position: -134px -160px; }
.pokeinfo .ball.timer		{ background-position: -134px -176px; }
.pokeinfo .ball.safari		{ background-position: -134px -192px; }
.pokeinfo .ball.quick 		{ background-position: -134px -208px; }
.pokeinfo .ball.dusk 		{ background-position: -134px -224px; }
.pokeinfo .ball.heal 		{ background-position: -134px -240px; }

.pokeinfo .ot:before {
	content: "OT";
}

.pokeinfo .nicknames:before {
	content: "Alt Names";
}
.pokeinfo .caught:before {
	content: "Caught";
}
.pokeinfo .memo:before {
	content: "Trainer Memo";
}

#infodex .ribbons {
	overflow: hidden;
	padding: 3px 6px 0px;
	border: 1px #2ac1ff solid;
	border-radius: 3px;
	background-color: rgb(228, 244, 251);
	overflow: hidden;
}
#infodex .ribbons:before {
	content: "Ribbons";
	background-color: rgb(162, 228, 255);
	padding: 0px 6px;
	margin-left: -8px;
	margin-right: 6px;
	border: 1px #2ac1ff solid;
	display: inline-block;
	margin-top: -1px;
}
#infodex .ribbons:empty {
	padding-bottom: 3px;
}
#infodex .ribbons ribbon {
	display: block;
	position: static;
	min-height: 32px; 
	padding: 2px 0px 2px 8px;
	
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px -10px;
	line-height: 14px;
}
#infodex .ribbons ribbon:nth-child(odd) {
	background-color: rgb(197, 238, 255);
}
#infodex .ribbons ribbon:before {
	content: "";
	float: left;
	width: 32px; height: 34px;
	margin: -3px 10px 0px;
	background-image: url("../img/ui/infodex_assets.png");
}
#infodex .ribbons ribbon:after {
	content: "";
	clear: both;
}

#infodex .ribbons ribbon.rb-purple:before		{ background-position:   -1px   -1px; }
#infodex .ribbons ribbon.rb-hallfame:before		{ background-position:  -34px   -1px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -67px   -1px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px   -1px; }
#infodex .ribbons ribbon.rb-starter:before		{ background-position:   -1px  -36px; }
#infodex .ribbons ribbon.rb-record:before		{ background-position:  -34px  -36px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -67px  -36px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px  -36px; }
#infodex .ribbons ribbon.rb-traded:before		{ background-position:   -1px  -71px; }
#infodex .ribbons ribbon.rb-bloodysunday:before	{ background-position:  -34px  -71px; }
#infodex .ribbons ribbon.rb-massmonday:before	{ background-position:  -67px  -71px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px  -71px; }
#infodex .ribbons ribbon.rb-daycare:before		{ background-position:   -1px -106px; }
#infodex .ribbons ribbon.rb-pokerus:before		{ background-position:  -34px -106px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -67px -106px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px -106px; }
#infodex .ribbons ribbon.rb-master:before		{ background-position:   -1px -141px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -34px -141px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -67px -141px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px -141px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:   -1px -176px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -34px -176px; }
#infodex .ribbons ribbon.rb-:before				{ background-position:  -67px -176px; }
#infodex .ribbons ribbon.rb-:before				{ background-position: -100px -176px; }

/* ---------------------------------------------------------------- */

.trainerinfo .name:before { content: "Name"; }
.trainerinfo .trainerid { 
	float: right;
	width: 78px;
}
.trainerinfo .trainerid:before { content: "ID No."; }
.trainerinfo .nickname:before { content: "Nickname"; }
.trainerinfo .altnicks:before { content: "Alt Nicknames"; }

.trainerinfo .playtime:before { content: "Playtime"; }
.trainerinfo .pkdx:before { content: "Pokedex"; }
.trainerinfo .caught:before { content: "Caught"; }
.trainerinfo .released { 
	float: right;
	width: 48%;
}
.trainerinfo .released:before { content: "Released"; }
.trainerinfo .e4attempts { 
	float: right;
	width: 48%;
}
.trainerinfo .e4attempts:before { content: "# of E4 Attempts"; }
.trainerinfo .blackouts:before { content: "# of Blackouts"; }

.trainerinfo .notable:before { content: "Notable Stats"; }
.trainerinfo .personality:before { content: "Personality"; }

.trainerinfo .badges {
	max-height: 1600px;
	overflow-y: auto;
}

.trainerinfo .icon-list, .trainerinfo .badge-list {
	overflow: hidden;
	padding: 3px 6px 0px;
	border: 1px #2ac1ff solid;
	border-radius: 3px;
	background-color: rgb(228, 244, 251);
	overflow: hidden;
}
.trainerinfo .icon-list:before, .trainerinfo .badge-list:before {
	content: "Ribbons";
	background-color: rgb(162, 228, 255);
	padding: 0px 6px;
	margin-left: -8px;
	margin-right: 6px;
	border: 1px #2ac1ff solid;
	display: inline-block;
	margin-top: -1px;
}
.trainerinfo .icon-list:empty, .trainerinfo .badge-list:empty {
	padding-bottom: 3px;
}
.trainerinfo .icon-list badge,
.trainerinfo .badge-list badge {
	display: block;
	position: static;
	min-height: 32px; 
	padding: 2px 0px 2px 8px;
	
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px -10px;
	line-height: 14px;
}
#infodex .ribbons ribbon:nth-child(odd) {
	background-color: rgb(197, 238, 255);
}