/* CSS */

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: hidden;
}

#anchor {
	position: absolute;
	overflow: visible;
	width: 16px; height: 16px;
	top: 48%; left:48%;
}

.bgsection {
	position: absolute;
	width: 256px; height: 256px;
	background-repeat: no-repeat;
	z-index: -100000;
}

.event-base {
	position: absolute;
	width: 16px; height:16px;
	margin: -1px;
	border: 1px solid gray;
}

.event-base img, .event-base .helper {
	position: absolute;
	bottom: 0px;
}


.anim-float {
	-webkit-animation: animation_floating 0.7s alternate infinite ease-in-out;
	animation: animation_floating 0.7s alternate infinite ease-in-out;
}
@-webkit-keyframes animation_floating {
	0% {bottom: 0;}
	100% {bottom: -4;}
}
@keyframes animation_floating {
	0% {bottom: 0;}
	100% {bottom: -4;}
}

.anim-breathe {
	-webkit-animation: animation_breathe 0.6s alternate infinite ease-in-out;
	animation: animation_breathe 0.6s alternate infinite ease-in-out;
}
@-webkit-keyframes animation_breathe {
	0% {bottom: 0;}
	100% {bottom: -2;}
}
@keyframes animation_breathe {
	0% {bottom: 0;}
	100% {bottom: -2;}
}
