/* CSS */

/* --- Base CSS --- */
html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: hidden;
	background-color: #60a0d8;
}

/* --- Map Items --- */
#anchor {
	position: absolute;
	overflow: visible;
	width: 16px; height: 16px;
	top: 48%; left:48%;
}

body.x2 #anchor {
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	
	image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.bgsection {
	position: absolute;
	width: 256px; height: 256px;
	background-repeat: no-repeat;
	z-index: -100000;
}


/* --- UI Items --- */

.ui {
	position: fixed;
	z-index: 100000;
}

.ui.sidebar {
	top: 0; right: 0;
	width: 64px;
	border-radius: 0 0 0 60px;
	background-color: rgba(0, 0, 0, 0.5);
}

.ui.sidebar img {
	display: block;
	margin: 10px auto;
}

.ui.sidebar .spacer {
	margin: 0 auto;
	width: 2px; height: 30px;
}

.ui.countdown {
	top: 0; left: 0;
	/*width: 200px; */
	padding-left: 6px;
	padding-right: 15px;
	border-radius: 0 0 20px 0;
	background-color: rgba(0, 0, 0, 0.75);
	
	color: white;
	font-family: PokemonScreen;
	font-size: 16px;
	line-height: 14px;
	text-align: center;
}
.ui.countdown:empty {
	display: none;
}

.ui.footnote {
	display: none;
	bottom: 0; right: 0;
	width: 40%; 
	padding-left: 20px;
	border-radius: 60px 0 0 0;
	background-color: rgba(0, 0, 0, 0.75);
	
	color: white;
	font-family: PokemonScreen;
	font-size: 16px;
	line-height: 14px;
}
.ui.footnote:before {
	content: "*Note: ";
	padding-left: 30px;
}

.ui.creditnote {
	bottom: 0; left: 0;
	width: 400px; 
	padding-left: 6px;
	padding-right: 15px;
	border-radius: 0 20px 0 0;
	background-color: rgba(0, 0, 0, 0.75);
	
	color: white;
	font-family: PokemonScreen;
	font-size: 16px;
	line-height: 14px;
}

.ui.creditnote a {
	color: #75C2FF;
}
#curr-sources:empty:before {
	content: "Tilemap ripped from Emerald and FireRed.";
	display: block;
}

.ui.instructions {
	top: 20px; left: 20px;
	width: 220px; 
	padding: 10px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.75);
	
	color: white;
	font-family: PokemonScreen;
	font-size: 16px;
	line-height: 12px;
}
.ui.instructions p {
	margin: 6px inherit;
}

/* --- Startup Screen --- */

#start-skrim {
	position: fixed;
	top: 0; bottom: 0;
	right: 0; left: 0;
	background-color: white;
	z-index: 100010;
}

#start-screen {
	position: fixed;
	top: 0; bottom: 0;
	right: 0; left: 0;
	z-index: 100011;
}

#start-screen .shove {
	float:left;
	height: 50%;
	margin-bottom: -150px;
}
#start-screen .content {
	clear: both;
	text-align: center;
	height: 240px; width: 300px;
	margin: 0 auto;
	position: relative;
}

#start-screen noscript {
	display: block;
	width: 300px; 
	margin: 0 auto;
	text-align: center;
}

#start-screen .sprite.tustin2121 {
	display: inline-block;
	width: 16px; height: 22px;
	background-image: url("img/trainers/custom_patrons.png");
	background-position: 0px -22px;
}

#start-screen .sprite.carlotta4th {
	display: inline-block;
	width: 16px; height: 22px;
	background-image: url("img/trainers/custom_patrons.png");
	background-position: 0px 0px;
}

/* --- Event Items --- */

.event-base {
	position: absolute;
	width: 16px; height:16px;
	/*margin: -1px;*/
	/*border: 1px solid gray;*/
}

.event-base img, .event-base .helper {
	position: absolute;
	bottom: 0px;
}

.event-base .person {
	position: absolute;
	width: 16px; height: 22px;
	bottom: 3px; left: 0px;
}

.event-base img.warp { display: none; }
.event-base:hover img.warp { display: block; }

.event-reflection {
	position: absolute;
	width: 16px; height:16px;
	/*margin: -1px;*/
	/*border: 1px solid gray;*/
}
.reflection {
	position: absolute;
	opacity: 0.6;
	
	transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
}

/* --- Dialog Box --- */

#dialog-box {
	position: absolute;
	background-image: url("img/ui/dialogbox.png");
	padding: 7px;
	width: 238px; min-height: 30px; /* After adjustments for padding */
	font-family: PokemonScreen;
	line-height: 15px;
	z-index : 20000; /* Float OVER pokemon */
	display: none;
	overflow: hidden;
}

#dialog-box:after {
	content: "";
	position: absolute;
	height: 7px; width: 252px;
	bottom: 0px; left: 0px;
	background-image: url("img/ui/dialogbox.png");
	background-position: 0 7px;
}

#dialog-box dger { 
	/* Special "Dondger" tag, short for a span tag with a proper class */
	/* Due to PokemonScreen's lack of support for the Donder characters,
	 * We need to mark them and put them in a different font entirely. */
	display: inline;
	
	font-family: Arial;
	font-size: 10px;
}

/*body.x2 #dialog-box {
	transform: scale(0.5);
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
}*/

.staidum-chatter-container {
	position: absolute;
	width: 640px; height: 384px;
	left: -208px; bottom: 64px;
	pointer-events: none;
}

.stadium-chatter {
	position: absolute;
	/*width: 100px; height: 30px;*/
	font-family: Arial;
	font-size: 10px;
	pointer-events: none;
}


/* --- Status Screen --- */

#status-screen {
	position: absolute;
	width: 280px; height: 200px;
	background-image: url("img/ui/status_screen.png");
	z-index : 20000; /* Float OVER pokemon */
	display: none;
}

#status-screen section {
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px 0px;
	line-height: 14px;
}


#status-screen .info-screen {
	position: absolute;
	top: 36px; left: 86px;
	display: none;
	width: 185px; height: 149px;
	background-image: url("img/ui/status_screen.png");
}

#status-screen .info-screen.profile {
	background-position: -95px -200px;
}
#status-screen .info-screen.ribbon {
	background-position: -95px -349px;
}
#status-screen .info-screen.description {
	background-position: -95px -498px;
}
#status-screen .info-screen.sources {
	background-position: -95px -647px;
}

#status-screen.tab1 .info-screen.profile {
	display: block;
}
#status-screen.tab2 .info-screen.ribbon {
	display: block;
}
#status-screen.tab3 .info-screen.description {
	display: block;
}
#status-screen.tab4 .info-screen.sources {
	display: block;
}


#status-screen .topbar {
	position: absolute;
	top: 5px; left: 5px;
	width: 265px; height: 26px;
}

#status-screen .topbar .tabindicator {
	margin: 0 auto;
	width: 70px; height: 26px;
	background-image: url("img/ui/status_screen.png");
}
/*#status-screen.tab0 .topbar .tabindicator { background-position: -14px -666px; }*/
#status-screen.tab1 .topbar .tabindicator { background-position: -14px -692px; }
#status-screen.tab2 .topbar .tabindicator { background-position: -14px -718px; }
#status-screen.tab3 .topbar .tabindicator { background-position: -14px -744px; }
#status-screen.tab4 .topbar .tabindicator { background-position: -14px -770px; }


#status-screen .btn-close {
	position: absolute;
	bottom: 17px; left: 7px;
	width: 77px; height: 22px;
}
#status-screen .btn-next {
	position: absolute;
	top: 7px; right: 12px;
	width: 70px; height: 22px;
}
#status-screen .btn-prev {
	position: absolute;
	top: 7px; left: 7px;
	width: 70px; height: 22px;
}


#status-screen .sidebar {
	position: absolute;
	top: 31px; left: 5px;
	width: 80px; height: 128px;
}

#status-screen .sidebar .sprite {
	position: absolute;
	top: 16px; left: 8px;
	width: 64px; height: 64px;
}

#status-screen .sidebar .sprite img {
	position: absolute;
}

#status-screen .sidebar .common-name {
	position: absolute;
	top: 2px; left: 6px;
	width: 75px; height: 12px;
}

#status-screen .sidebar .game-name {
	position: absolute;
	top: 80px; left: 6px;
	width: 75px; height: 12px;
}

#status-screen .sidebar .spec-name {
	position: absolute;
	top: 92px; left: 6px;
	width: 75px; height: 12px;
}
#status-screen .sidebar .spec-name:before {
	content: "/";
}

#status-screen .sidebar .level {
	position: absolute;
	top: 113px; right: 3px;
	width: 40px; height: 12px;
	text-align: right;
}
#status-screen .sidebar .level:before {
	content: "Lvl ";
}

#status-screen .sidebar .gender {
	position: absolute;
	top: 80px; right: 3px;
	width: 10px; height: 12px;
	text-align: right;
}
#status-screen .sidebar .gender.male:after {
	content: "\2642";
	/*color: #40c8f8;*/
}
#status-screen .sidebar .gender.female:after {
	content: "\2640";
	/*color: #f89890;*/
}

#status-screen .sidebar .ball {
	position: absolute;
	top: 111px; left: 6px;
	width: 16px; height: 16px;
	background-image: url("img/ui/status_screen.png");
	background-position: -70px -200px; /* Default: Pokeball */
}
#status-screen .sidebar .ball.poke 		{ background-position: -70px -200px; }
#status-screen .sidebar .ball.great		{ background-position: -70px -216px; }
#status-screen .sidebar .ball.ultra 	{ background-position: -70px -232px; }
#status-screen .sidebar .ball.master	{ background-position: -70px -248px; }
#status-screen .sidebar .ball.premiere	{ background-position: -70px -264px; }
#status-screen .sidebar .ball.cherish	{ background-position: -70px -280px; }
#status-screen .sidebar .ball.luxury	{ background-position: -70px -296px; }
#status-screen .sidebar .ball.nest 		{ background-position: -70px -312px; }
#status-screen .sidebar .ball.net 		{ background-position: -70px -328px; }
#status-screen .sidebar .ball.dive		{ background-position: -70px -344px; }
#status-screen .sidebar .ball.repeat	{ background-position: -70px -360px; }
#status-screen .sidebar .ball.timer		{ background-position: -70px -376px; }
#status-screen .sidebar .ball.safari	{ background-position: -70px -392px; }
#status-screen .sidebar .ball.quick 	{ background-position: -70px -408px; }
#status-screen .sidebar .ball.dusk 		{ background-position: -70px -424px; }
#status-screen .sidebar .ball.heal 		{ background-position: -70px -440px; }


#status-screen .info-screen.profile .ot {
	position: absolute;
	top: 13px; left: 7px;
	width: 174px; height: 12px;
}
#status-screen .info-screen.profile .ot:before {
	content: "OT/";
}

#status-screen .info-screen.profile .caught {
	position: absolute;
	top: 28px; left: 7px;
	width: 174px; height: 12px;
}

#status-screen .info-screen.profile .nicknames {
	position: absolute;
	top: 53px; left: 7px;
	width: 174px; height: 26px;
}

#status-screen .info-screen.profile .memo {
	position: absolute;
	top: 94px; left: 7px;
	width: 174px; height: 53px;
	overflow: hidden;
}


#status-screen .info-screen.ribbon {
	padding: 12px 2px 1px 4px;
	width: 179px; height:136px; /* Respecify size due to padding */
	overflow: hidden;
}
#status-screen .info-screen.ribbon section {
	position: static;
	height: 31px; width: 179px;
	margin: 0px;
	padding: 3px 0px 0px 0px;
}
#status-screen .info-screen.ribbon section:before {
	content: "";
	float: left;
	width: 32px; height: 34px;
	margin-top: -3px;
	background-image: url("img/ui/status_screen.png");
}
#status-screen .info-screen.ribbon section:after {
	content: "";
	clear: both;
}

#status-screen .info-screen.ribbon section.rb-purple:before			{ background-position: -1px -201px; }
#status-screen .info-screen.ribbon section.rb-hallfame:before		{ background-position: -34px -201px; }
#status-screen .info-screen.ribbon section.rb-starter:before		{ background-position: -1px -236px; }
#status-screen .info-screen.ribbon section.rb-record:before			{ background-position: -34px -236px; }
#status-screen .info-screen.ribbon section.rb-traded:before			{ background-position: -1px -271px; }
#status-screen .info-screen.ribbon section.rb-bloodysunday:before	{ background-position: -34px -271px; }
#status-screen .info-screen.ribbon section.rb-daycare:before		{ background-position: -1px -306px; }
#status-screen .info-screen.ribbon section.rb-pokerus:before		{ background-position: -34px -306px; }
#status-screen .info-screen.ribbon section.rb-master:before			{ background-position: -1px -341px; }
#status-screen .info-screen.ribbon section.rb-ribbon10:before		{ background-position: -34px -341px; }
#status-screen .info-screen.ribbon section.rb-ribbon11:before		{ background-position: -1px -376px; }
#status-screen .info-screen.ribbon section.rb-ribbon12:before		{ background-position: -34px -376px; }

#status-screen .info-screen.sources {
	padding: 12px 4px 1px 6px;
	width: 175px; height:136px; /* Respecify size due to padding */
	overflow: hidden;
}

/* --- Trainer Card --- */

#trainer-card {
	position: absolute;
	width: 240px; height: 160px;
	background-image: url("img/ui/trainer_card.png");
	z-index : 20000; /* Float OVER pokemon */
	display: none;
}

#trainer-card section {
	display: block;
	font-family: PokemonScreen;
	font-size: 16px;
	margin: 0px 0px;
	line-height: 14px;
}

#trainer-card .btn-close {
	position: absolute;
	top: 152px; left: 3px;
	/*width: 77px; height: 22px;*/
}
#trainer-card .btn-flip {
	position: absolute;
	top: 152px; right: 9px;
	/*width: 77px; height: 22px;*/
}



#trainer-card .front {
	position: absolute;
	left: 3px; top: 3px;
	width: 228px; height: 148px;
	display: none;
}
#trainer-card.front .front {
	display: block;
}

#trainer-card .front .idno {
	position: absolute;
	left: 138px; top: 11px;
	width: 76px; height: 12px;
}
#trainer-card .front .idno:before {
	content: "ID No. ";
}

#trainer-card .front .name {
	position: absolute;
	left: 22px; top: 30px;
	width: 125px; height: 12px;
}

#trainer-card .front .playtime {
	position: absolute;
	left: 22px; top: 58px;
	width: 125px; height: 12px;
}
#trainer-card .front .playtime:before {
	content: "Playtime: ";
}

#trainer-card .front .pkdex {
	position: absolute;
	left: 22px; top: 75px;
	width: 125px; height: 12px;
}
#trainer-card .front .pkdex:before {
	content: "PkDex: ";
}

#trainer-card .front .release {
	position: absolute;
	left: 22px; top: 90px;
	width: 125px; height: 12px;
}
#trainer-card .front .release:before {
	content: "Released: ";
}

#trainer-card .front .badges {
	position: absolute;
	left: 2px; top: 114px;
	width: 224px; height: 26px;
}
#trainer-card .front .badges .std {
	/* Standard Badge Format (ie, not Crystal) */
	margin: 8px 16px 2px 24px;
}

#trainer-card .front .sprite {
	position: absolute;
	left: 155px; top: 44px;
	width: 64px; height: 64px;
}
#trainer-card .front .sprite img {
	position: absolute;
}


#trainer-card .back {
	position: absolute;
	left: 3px; top: 3px;
	width: 228px; height: 148px;
	background-position: 0px -160px;
	background-image: url("img/ui/trainer_card.png");
	display: none;
}
#trainer-card.back .back {
	display: block;
}
#trainer-card .back .name {
	position: absolute;
	left: 130px; top: 11px;
	width: 86px; height: 12px;
}
#trainer-card .back .info {
	position: absolute;
	left: 13px; top: 35px;
	width: 210px; height: 78px;
	line-height: 16px;
}

#trainer-card .back .icons { /* Icons of the Run! */
	position: absolute;
	left: 7px; top: 119px;
	width: 214px; height: 24px;
}
#trainer-card .back .icons div {
	position: absolute;
	top: 0px;
	width: 24px; height: 24px;
}
#trainer-card .back .icons img {
	position: absolute;
}
#trainer-card .back .icons .item1 { left: 15px; }
#trainer-card .back .icons .item2 { left: 47px; }
#trainer-card .back .icons .item3 { left: 79px; }
#trainer-card .back .icons .item4 { left:111px; }
#trainer-card .back .icons .item5 { left:143px; }
#trainer-card .back .icons .item6 { left:175px; }

/* --- Trainer Card --- */

#buritto-frame {
	display: none;
	position: absolute;
	width: 500px; height: 564px;
	top: 30px; left: 30px;
}

#buritto-frame .content {
	position: absolute;
	top: 10px; bottom: 10px;
	left: 10px; right: 18px;
	overflow-y: auto;
	background-color: #f8f8f8;
	
	font-size: 0.8em;
	font-family: "Comic Sans", "Comic Sans MS", cursive; /* I apologize :P */
	padding-right: 4px;
}

#buritto-frame .frame {
	position: absolute;
}
#buritto-frame .frame.top {
	top: 0; right: 4px; left: 4px;
	height: 10px;
	background-image: url("img/ui/burrito_window_horzframe.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
}
#buritto-frame .frame.top:before {
	content: "";
	background-image: url("img/ui/burrito_window_corners.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	position: absolute;
	width: 10px; height: 10px;
	left: -4px;
}
#buritto-frame .frame.top:after {
	content: "";
	background-image: url("img/ui/burrito_window_corners.png");
	background-position: -10px 0px;
	background-repeat: no-repeat;
	position: absolute;
	width: 18px; height: 18px;
	right: -4px;
}

#buritto-frame .frame.right {
	top: 10px; bottom: 10px; right: 0;
	width: 18px;
	background-image: url("img/ui/burrito_window_vertframe.png");
	background-position: -10px 0px;
	background-repeat: repeat-y;
}
#buritto-frame .frame.left {
	top: 10px; bottom: 10px; left: 0;
	width: 10px;
	background-image: url("img/ui/burrito_window_vertframe.png");
	background-position: 0px 0px;
	background-repeat: repeat-y;
}

#buritto-frame .frame.bottom {
	bottom: 0; right: 4px; left: 4px;
	height: 10px;
	background-image: url("img/ui/burrito_window_horzframe.png");
	background-position: 0px -10px;
	background-repeat: repeat-x;
}
#buritto-frame .frame.bottom:before {
	content: "";
	background-image: url("img/ui/burrito_window_corners.png");
	background-position: 0px -10px;
	background-repeat: no-repeat;
	position: absolute;
	width: 10px; height: 10px;
	left: -4px;
}
#buritto-frame .frame.bottom:after {
	content: "";
	background-image: url("img/ui/burrito_window_corners.png");
	background-position: -10px -10px;
	background-repeat: no-repeat;
	position: absolute;
	width: 18px; height: 18px;
	right: -4px;
}


/*----------------------------------
  Fonts
----------------------------------*/

@font-face {
	font-family: PokemonScreen;
	src: url("img/ui/PokemonDPPt.ttf");
}

/*@font-face {
	font-family: PokemonScreen;
	src: url("font/pkmndp.ttf");
}*/

/*----------------------------------
  Animations 
----------------------------------*/

/* --- Event Animations --- */
.anim-float {
	/*-webkit-animation: animation_floating 0.7s alternate infinite ease-in-out;
	animation: animation_floating 0.7s alternate infinite ease-in-out;*/
}
@-webkit-keyframes animation_floating {
	0% {bottom: 0;}
	100% {bottom: -4px;}
}
@keyframes animation_floating {
	0% {bottom: 0;}
	100% {bottom: -4px;}
}

.anim-breathe {
	-webkit-animation: animation_breathe 0.7s alternate infinite steps(2);
	animation: animation_breathe 0.7s alternate infinite steps(2);
}
@-webkit-keyframes animation_breathe {
	0% {bottom: 0;}
	100% {bottom: -2px;}
}
@keyframes animation_breathe {
	0% {bottom: 0;}
	100% {bottom: -2px;}
}
/*
.anim-walk-down {
	-webkit-animation: animation_walk_down 1s infinite steps(2, end);
	animation: animation_walk_down 1s infinite steps(5, end);
}
@-webkit-keyframes animation_walk_down {
	0% {background-position: 0px 0px;}
	25% {background-position: 0px 0px;}
	50% {background-position: 0px -22px;}
	75% {background-position: 0px 0px;}
	100% {background-position: 0px -44px;}
}

@keyframes animation_walk_down {
	0% {background-position: 0px -22px;}
	25% {background-position: 0px 0px;}
	50% {background-position: 0px -44px;}
	75% {background-position: 0px 0px;}
	100% {background-position: 0px 0px;}
}*/
